
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("s/1.png");
  min-height: 75%;
}

h1 {
	color: #202020;
	position: absolute;
	width: 100%;
	top: 16vw;
	font-size: 10vw;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

p {
font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#strip {
                position: absolute;
                min-width: 100px;
                top: 0;
                left: 0;
                right: 0;
            }

            .stripa {
                position: absolute;
                min-width: 100px;
                top: 0;
                left: 0;
                right: 0;

                overflow: hidden;
            }

            .stripa .a {
              transition: transform .5s ease;
            }

.w3-animate-top{top:-300px; position:relative;animation:animatetop 1s forwards; animation-delay: 0.5s}@keyframes animatetop{from{top:-300px} to{top:0}}
.w3-animate-top2{opacity: 0; animation:animatetop2 2s forwards; animation-delay: 1s;}@keyframes animatetop2{from{opacity:0} to{opacity:1}}
.w3-animate-left{position:relative;animation: animateleft 0.25s}@keyframes animateleft{from{right:-100%;opacity:0} to{right:0%;opacity:1}}

.navbar {
  overflow: hidden;
  list-style: none;
    position:fixed;
    left: 0%;
    margin-right:0px;
    margin-top:-25px;
    height: 50px;
  background-color: #202020;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar a {
  float: left;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 20px;

  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
float: right;
  font-size: 20px;
  font-family: helvetica;
  font-style: bold;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-right: 10px;
  padding-top: 15px;

	text-decoration: none;
  background-color: inherit;
  font-family: inherit;

border: none;
}

.download {
	position: absolute;
	top: 1vw;
}

.downloadbtn {

	text-decoration: none;
  background-color: inherit;
  font-family: inherit;

border: none;
}

.dropdown-menu {
	height:100px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content {
  display: none;
}

.navbar a:hover, .dropdown:hover {
  filter: brightness(80%);
}

.stripa .a:hover
{
  transform: scale(1.1);
  filter: brightness(80%);
}

.download:hover {
	filter: brightness(150%);
}

.scroll-down {
  position: absolute;
  left: 50%;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }

  html,
body {
  height: 100%;
}

.fixed-red,
.fixed-green,
.fixed-blue {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 10vw;
  left: 10vw;
  background: #111;
}

.fixed-green {
  top: 50px;
}

.fixed-blue {
  top: 90px;
}

.red-active {
  background: #f00;
}

.green-active {
  background: #0f0;
}

.blue-active {
  background: #00f;
}

.color {
  width: 100%;
  height: 100%;
}

#red {
  background: #900;
}

#green {
  background: #090;
}

#blue {
  background: #009;
}
}